.orange-bg{
    background-color: #fceae8;
    border: none;
    border-radius: 7px;
    padding: 5px 5px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
background-image: linear-gradient(to bottom, #FF136F 0%, #FF136F 100%);
color: #fff;
border: none;
border-radius: 6px;
padding: 9px 20px;
cursor: pointer;



    
}